*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    background: linear-gradient(to bottom, #F6C1A7 0%, #E2DFDF 100%);
    
}
body{
    background-repeat: no-repeat; /* Evita que el degradado se repita */
    background-attachment: fixed; 
}

.barra-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(153, 45, 45, 0.0);
    padding: 5px 10px;
    gap: 50px;
}

.Titulo {
    font-family: 'Outfit', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.black {
    color: black;
}

.blue {
    background: linear-gradient(105deg, #8781FF 12.17%, #6A65C8 38.22%, #514D99 49.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.barra {
    padding-top: 5px;
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #2731a3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #4f59c9;
}

.vender {
    display: inline-block;
    
    border-radius: 25px;
    background-color: #6A65C6;
    padding: 2px 3px;
    padding-left:2%;
}

.vender .texto {
    color: #FFF;
    font-family: Outfit;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.comprar {
    display: inline-block;
    /* Para que el fondo se ajuste al contenido */
    border-radius: 25px;
    background-color: #008CCA;
    padding: 2px 10px;
    /* Aumentar padding para agrandar el fondo */
}

.comprar .textoc {
    color: #FFF;
    font-family: Outfit;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.paraTi {
    display: inline-block;
    /* Para que el fondo se ajuste al contenido */
    border-radius: 25px;
    background-color: #3F5A05;
    padding: 2px 10px;
    /* Aumentar padding para agrandar el fondo */
}

.paraTi .textop {
    color: #FFF;
    font-family: Outfit;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*lista debajo de la barra de menu*/

.lista-horizontal {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 12%;
    justify-content: center;
    background-color: rgba(153, 45, 45, 0.021);

}

.lista-horizontal li {
    color: #FFF;

    font-family: 'Outfit', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    gap: 5px; 
}

.texto{
    flex: 1;
    max-width: 75%;
    margin-top: -10%;
    margin-bottom: -15%;
    margin-left: -20%;
    
}

.texto h1 {
    font-size: 4em;
    font-family: 'Outfit', sans-serif;
    color: #333;
    
}

.azul {
    background: linear-gradient(105deg, #8781FF 12.17%, #6A65C8 38.22%, #514D99 49.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.boton {
    background: #ff792f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6em;
    margin-top: 15%;
    margin-left: 15%;
}

.modelo {
    max-width: 750px; 
    height: auto;
}

.carrito {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 1.5em;
}
a{
    text-decoration: none;
}
.imgMenu{
    
    left: 50px;
    display: block;
    height: 50px
}











main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.formulario, .resumen {
    /* background: #ccc;
    backdrop-filter: blur(50px); */
    background: rgba(204, 204, 204, 0.3); /* Usa un color con transparencia */
    backdrop-filter: blur(10px); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 45%;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    font-weight: bold;
    margin-top: 10px;
}
input, textarea, button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background: #0056b3;
}
.preview img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-top: 10px;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
}


.azul {
    background: linear-gradient(105deg, #8781FF 12.17%, #6A65C8 38.22%, #514D99 49.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}